<h1><i>List of categories.....</i></h1>
    <div style="float:right">
    <form action="/admin_panel/searchByCategory" method="POST">
        <input type="text" name="category" placeholder="Search by category..">
    </form>
    </div>
    <center>
        <table>
            <tr>
            <th>Categories</th>
            </tr>
            <% data.forEach(function(x){ %>
                <div>
                <tr>
                    <td><%=x.category %></td>
                </tr>
                </div>
        <% }) %>
        </table>        
</center>